<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Edit Article</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
     <style>
          :root {
               --primary-color: #000;
               --secondary-color: #fff;
               --border-color: #ccc;
          }

          body {
               font-family: 'Roboto', sans-serif;
               background-color: var(--secondary-color);
               color: var(--primary-color);
               line-height: 1.6;
               margin: 0;
               padding: 20px;
          }

          .container {
               max-width: 1200px;
               margin: 0 auto;
          }

          h1 {
               margin-bottom: 20px;
          }

          .form-group {
               margin-bottom: 20px;
          }

          label {
               display: block;
               margin-bottom: 10px;
               font-weight: bold;
          }

          input[type="text"],
          select,
          textarea {
               width: 100%;
               padding: 15px;
               border: 1px solid var(--border-color);
               background-color: var(--secondary-color);
               color: var(--primary-color);
               font-size: 18px;
          }

          input[type="text"]:focus,
          select:focus,
          textarea:focus {
               outline: none;
               border-color: var(--primary-color);
          }

          button {
               background-color: var(--primary-color);
               color: var(--secondary-color);
               border: none;
               padding: 15px 30px;
               font-size: 18px;
               cursor: pointer;
               transition: background-color 0.3s ease;
          }

          button:hover {
               background-color: #333;
          }

          .tag-container {
               display: flex;
               flex-wrap: wrap;
               gap: 10px;
               margin-top: 10px;
          }

          .tag {
               background-color: var(--secondary-color);
               border: 1px solid var(--primary-color);
               padding: 5px 10px;
               display: flex;
               align-items: center;
          }

          .tag-remove {
               margin-left: 5px;
               cursor: pointer;
          }

          .back-button {
               margin-bottom: 20px;
          }

          #imagePreview {
               max-width: 100%;
               margin-top: 10px;
          }

          @media (max-width: 768px) {

               input[type="text"],
               select,
               textarea {
                    padding: 10px;
                    font-size: 16px;
               }

               button {
                    padding: 10px 20px;
                    font-size: 16px;
               }
          }
     </style>
</head>

<body>
     <div class="container">
          <button class="back-button" onclick="history.back()">← Back</button>
          <h1>Edit Article</h1>
          <!-- Change the action URL to point to the update route -->
          <form id="articleForm" action="/admin/articles/<%= article.slug %>/edit" method="POST" enctype="application/x-www-form-urlencoded">
               <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" value="<%= article.title %>" required>
               </div>

               <!-- <div class="form-group">
                    <label for="category">Catégorie</label>
                    <select id="category" name="category" required>
                         <option value="">-- Sélectionnez une catégorie --</option>
                         <option value="dog-trainers" <%=article.category==='dog-trainers' ? 'selected' : '' %>>Dresseurs de chiens</option>
                         <option value="veterinarians" <%=article.category==='veterinarians' ? 'selected' : '' %>>Vétérinaires</option>
                         <option value="pet-stores" <%=article.category==='pet-stores' ? 'selected' : '' %>>Magasins pour animaux</option>
                         <option value="dog-sitters" <%=article.category==='dog-sitters' ? 'selected' : '' %>>Gardiens de chiens</option>
                         <option value="behavioral-psychology" <%=article.category==='behavioral-psychology' ? 'selected' : '' %>>Psychologie comportementale</option>
                         <option value="educational-training" <%=article.category==='educational-training' ? 'selected' : '' %>>Formation éducative</option>
                         <option value="puppy-training" <%=article.category==='puppy-training' ? 'selected' : '' %>>Formation des chiots</option>
                         <option value="obedience-training" <%=article.category==='obedience-training' ? 'selected' : '' %>>Formation à l'obéissance</option>
                    </select>
               </div> -->

               <!-- <div class="form-group">
                    <label for="summary">Summary</label>
                    <textarea id="summary" name="summary" rows="3" required><%= article.summary %></textarea>
               </div>

               <div class="form-group">
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" name="tags">
                    <div id="tagContainer" class="tag-container"></div>
               </div> -->

               <div class="form-group">
                    <label for="content">Content</label>
                    <textarea id="content" name="content"><%= article.content %></textarea>
               </div>



               <!-- <div class="form-group">
                    <label for="seoTitle">SEO Title</label>
                    <input type="text" id="seoTitle" name="seoTitle" value="<%= article.seo.title %>">
               </div> -->

               <!-- <div class="form-group">
                    <label for="seoDescription">SEO Description</label>
                    <textarea id="seoDescription" name="seoDescription" rows="3"><%= article.seo.description %></textarea>
               </div>

               <div class="form-group">
                    <label for="keywords">Keywords (comma-separated)</label>
                    <input type="text" id="keywords" name="keywords" value="<%= article.seo.keywords.join(',') %>">
               </div>

               <div class="form-group">
                    <label for="author">Author</label>
                    <input type="text" id="author" name="author" value="<%= article.author %>">
               </div> -->
               <button type="submit">Update Article</button>
          </form>
     </div>
     <script src="https://cdn.tiny.cloud/1/wzg195slfx5e31zpp941e1qriff7qy8oxp318ngoas5hp7hu/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

     <script>
          document.addEventListener('DOMContentLoaded', function () {
               if (tinymce.editors.length === 0) {
                    tinymce.init({
                         selector: '#content',
                         plugins: 'autolink lists link image charmap print preview anchor',
                         toolbar: 'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | removeformat | help',
                         height: 500
                    });
               }

               const tagInput = document.getElementById('tags');
               const tagContainer = document.getElementById('tagContainer');
               const tagSet = new Set(<%= JSON.stringify(article.tags) %>);

               tagInput.addEventListener('keydown', function (e) {
                    if (e.key === 'Enter' || e.key === ',') {
                         e.preventDefault();
                         addTag();
                    }
               });

               function addTag() {
                    const tag = tagInput.value.trim();
                    if (tag && !tagSet.has(tag)) {
                         tagSet.add(tag);
                         renderTags();
                         tagInput.value = '';
                    }
               }

               function removeTag(tag) {
                    tagSet.delete(tag);
                    renderTags();
               }

               function renderTags() {
                    tagContainer.innerHTML = '';
                    tagSet.forEach(tag => {
                         const tagElement = document.createElement('span');
                         tagElement.classList.add('tag');
                         tagElement.textContent = tag;

                         const removeButton = document.createElement('span');
                         removeButton.classList.add('tag-remove');
                         removeButton.textContent = '×';
                         removeButton.onclick = () => removeTag(tag);

                         tagElement.appendChild(removeButton);
                         tagContainer.appendChild(tagElement);
                    });
               }

               renderTags(); // Initially render tags
          });

     </script>
</body>

</html>