<%- include('../marketplace/partials/head.ejs') %>
     <%- include('../marketplace/partials/navbar.ejs') %>

          <h1>
               <%= seller.displayName %>'s Profile
          </h1>
          <img src="<%= seller.image %>" alt="<%= seller.displayName %>">
          <p>Email: <%= seller.email %>
          </p>
          <p>Role: <%= seller.role %>
          </p>

          <a href="/profile/<%= seller.slug %>/edit">Edit Profile</a>
          <a href="/profile/<%= seller.slug %>/announcements">View My Announcements</a>
          <%- include('../marketplace/partials/footer.ejs') %>