<%- include('./partials/head.ejs') %>

     <div class="container mt-5">
          <h1 class="text-center">Consultations Admin Dashboard</h1>

          <% if (consultations.length> 0) { %>
               <table class="table table-striped">
                    <thead>
                         <tr>
                              <th>WhatsApp Number</th>
                              <th>Problem Description</th>
                              <th>Date Submitted</th>
                         </tr>
                    </thead>
                    <tbody>
                         <% consultations.forEach(function(consultation) { %>
                              <tr>
                                   <td>
                              <tr>
                                   <td>
                                        <a href="https://wa.me/212<%= consultation.whatsappNumber %>?text=<%= encodeURIComponent(' Bonjour , je suis membre de l\'équipe Ndressilik , chargé des consultations. Mon rôle est de répondre aux problèmes des propriétaires de chiens. Voici le problème que vous avez mentionné : ' + consultation.problemDescription + ' ') %>">
                                             <%= consultation.whatsappNumber %>
                                        </a>
                                   </td>
                                   <td>
                                        <%= consultation.problemDescription %>
                                   </td>
                              </tr>

                              <td>
                                   <%= consultation.dateSubmitted.toLocaleString() %>
                              </td>
                              </tr>
                              <% }); %>
                    </tbody>
               </table>
               <% } else { %>
                    <p>No consultations found.</p>
                    <% } %>

     </div>

     <%- include('./partials/footer.ejs') %>