<%- include('partials/head.ejs') %>

     <!-- Dynamic Title -->
     <title>
          <%= article.title %> | Votre Site
     </title>

     <!-- Meta Tags -->
     <meta name="description" content="<%= article.description %>">
     <meta name="author" content="<%= article.author %>">
     <meta name="keywords" content="<%= article.description %>">
     <meta property="og:title" content="<%= article.title %>">
     <meta property="og:description" content="<%= article.description %>">
     <meta property="og:type" content="article">
     <meta property="og:image" content="<%= article.bannerImage || '/default-image.jpg' %>">

     <!-- Twitter Card meta tags -->
     <meta name="twitter:card" content="summary_large_image">
     <meta name="twitter:title" content="<%= article.title %>">
     <meta name="twitter:description" content="<%= article.description %>">
     <meta name="twitter:image" content="<%= article.bannerImage || '/default-image.jpg' %>">
     <style>
          @import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&family=Readex+Pro:wght@160..700&display=swap');

          body {
               font-family: "Baloo Bhaijaan 2", sans-serif;
          }

          img {
               max-width: 100% !important;
               height: auto !important;
               display: block !important;
          }
     </style>
     <%- include('../marketplace/partials/navbar.ejs') %>

          <div class="container mt-5">
               <h1 class="text-center mb-5">
                    <%= article.title %>
               </h1>

               <!-- Display banner image if available -->
               <% if (article.bannerImage) { %>
                    <img src="<%= article.bannerImage %>" class="img-fluid mb-4" alt="<%= article.title %>">
                    <% } %>

                         <div class="content card p-1" style="border: 1px solid transparent;">
                              <p>
                                   <%- article.content %>
                              </p>
                         </div>

                         <a href="/articles" class="btn btn-secondary mt-3">Retour aux Articles</a>
          </div>

          <%- include('../marketplace/partials/footer.ejs') %>