<%- include('partials/head.ejs') %>
     <%- include('../marketplace/partials/navbar.ejs') %>

          <div class="container mt-5">
               <h1 class="text-center mb-5" style="font-size: 2.5rem; font-weight: bold;">Nos Articles</h1>
               <% if (articles && articles.length> 0) {
                    articles.sort((a, b) => new Date(b.dateCreated) - new Date(a.dateCreated)); // Sort by date
                    }%>

                    <!-- Check if there are articles -->
                    <% if (articles && articles.length> 0) { %>
                         <div class="row">
                              <% articles.forEach(function(article) { %>
                                   <div class="col-md-4 mb-4">
                                        <div onclick="window.location.href = '/articles/<%= article.slug %>'" class="card shadow-sm" style="border: 1px solid #ddd; cursor: pointer;">
                                             <% if (article.bannerImage) { %>
                                                  <img src="<%= article.bannerImage %>" class="card-img-top" alt="<%= article.title %>" style="object-fit: cover; height: 200px;">
                                                  <% } else { %>
                                                       <img src="https://via.placeholder.com/400x200" class="card-img-top" alt="Placeholder Image" style="object-fit: cover; height: 200px;">
                                                       <% } %>

                                                            <div class="card-body">
                                                                 <h5 class="card-title" style="color: #333; font-weight: bold;">
                                                                      <%= article.title %>
                                                                 </h5>
                                                                 <p class="card-text" style="color: #555;">
                                                                      <%= article.description.substring(0, 150) %>...
                                                                 </p>
                                                                 <a href="/articles/<%= article.slug %>" class="btn btn-primary">Lire Plus</a>
                                                            </div>
                                        </div>
                                   </div>
                                   <% }) %>
                         </div>
                         <% } else { %>
                              <p class="text-center">Aucun article disponible pour le moment.</p>
                              <% } %>
          </div>

          <%- include('../marketplace/partials/footer.ejs') %>