<%- include('partials/head.ejs') %>

     <%- include('partials/navbar.ejs') %>
          <%- include('partials/hero.ejs') %>
               <div class="container">
                    <h1 class="text-center my-10 display-4 ">Nos Services</h1>
                    <hr>
               </div>

               <%- include('partials/services.ejs') %>


                    <%- include('partials/footer.ejs') %>